{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/jstree.css' %}">
{% endblock %}

{% block content %}
    {% include 'modal.html' with id="HelpDeskModalEdit" %}

    <h3>{{ branch.name }}</h3>

    <div id="tree"></div>
    {% if branch.id %}
        <a href="{% url 'helpdesk:pull-create' branch.id %}">Создать Pull</a><br>
    {% endif %}
    <a href="{% url 'helpdesk:branch-list' %}">Branch List</a>    

    <script src="{% static 'js/branch-detail.js' %}"></script>
    <script>
        const branch_id = "{% if branch.id %}{{ branch.id }}{% endif %}" || null
    </script>
{% endblock %}